.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#image1 {
    filter: grayscale(100%)
}

#image2 {
    filter: blur(2px);
    transition: 0.5s;
}

#image2:hover {
    filter: unset;
}

#image3 {
    filter: sepia(67%);
}

@keyframes color-rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#image4 {
    animation: color-rotate 5s linear;
    animation-iteration-count: infinite;
}

#div1 {
    background-color: rgb(0, 30, 255);
    color: rgb(246, 114, 239);
    width: 200px;
    height: 200px;
    filter: blur(4px);
}

#div2 {
    font-size: 80px;
    filter: drop-shadow(5px 5px 5px rgb(8, 68, 235));
}

